<div class="jumbotron" id="projects">
  <div class="container-fluid">
    <p>PROJECTS</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>OUR WORK</h5>
    <p>Penn Enactus focuses its efforts on helping the community by creating
    sustainable projects that both generate revenue and incorporate elements
    of social entreneurship. The three projects we are currently focused on
    embody the values set forth in our mission. </p>
  </div>
</div>

<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("momentum.png", :alt => "", height: 150, width: 350) %>
        <h4>Momentum</h4>
        <p>Momentum is a social entrepreneurship project founded to empower 
        female entrepreneurs in the local Philadelphia area. Forming a community of 
        women who are interested in the intersection between business and the arts, 
        through biweekly workshops and card sales, Momentum provides these aspiring 
        entrepreneurs with a supplementary source of income as well as the tools to 
        start their own small business. Currently, the Momentum team consists of six 
        students and supports four women.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("logo_kente.png", :alt => "", height: 150, width: 165) %>
        <h4>Kente Master</h4>
        <p>Kente Master is a fabric artisan project committed to promoting African culture, entrepreneurship, and economic self-empowerment. This is achieved by exporting premium Kente graduation stoles from various weaving associations in Ghana, which create Kente through the same traditional weaving techniques used centuries ago. Kente Master empowers the communities in which Kente is created, by expanding the reach of these communities and helping them forge partnership with large, international clients.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("logo_ref.jpg", :alt => "", height: 150, width: 350) %>
        <h4>Project Feast</h4>
        <p>RE-fresh plans and hosts unique cooking lessons in the 
        Philadelphia area. Based off Project Feast in Seattle, WA, Enactus Project Feast hires local 
        refugees that possess unique culinary skills from their home countries and provides training to 
        allows these refugees to teach cooking lessons. Customers that attend these lessons seek to learn a 
        new culinary style or technique, and to enjoy great food!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("logo_college.jpg", :alt => "", height: 90, width: 350) %>
        <h4>College Writeaway</h4>
        <p>College Writeaway is a social enterprise that provides college essay consulting services to prospective college students. Our tutors are highly knowledgeable students at the University of Pennsylvania who have passions for helping high school students. As a social enterprise, we advocate for the accessibility of education opportunities by aiding underprivileged students in Philadelphia through helping them with their college admissions. We seek a future in which all students will be able to have the opportunity to chase further education past high school.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("WPMF.png", :alt => "", height: 100, width: 350) %>
        <h4>West Philadelphia Microfinance</h4>
        <p>West Philadelphia Microfinance is a social entrepreneurship project focused on promoting & supporting entrepreneurship in Philadelphia through a three-pronged approach: education, support, & finance. West Philly Microfinance uses a microfinance model to empower participants in our program to establish their own small scale businesses to develop a long-term supplementary income.</p>
      </div>
    </div>
  </div>
</div>