<div class="jumbotron" id="team">
  <div class="container-fluid">
    <p>THE TEAM</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>THE TEAM</h5>
    <p>We are students drawing from a range of backgrounds with a common interest
    in promoting progress throughout the community. Our executive board works
    to shape the day to day and long term vision of our organization.</p>
  </div>
</div>

<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/andy.jpg", :alt => "", height: 300, width: 300) %>
        <h4>ANDREW WANG</h4>
        <h5>Co-President</h5>
        <p>Andrew is a junior at Penn studying Computer Science in the School of Engineering and Statistics in Wharton. Outside of Enactus, Andrew spends time each week coaching debate in Philadelphia high schools and watching football.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/tina.jpg", :alt => "", height: 300, width: 300) %>
        <h4>TINA HUANG</h4>
        <h5>Co-President</h5>
        <p>Tina is a junior in Penn's Life Sciences 
        and Management program studying Finance, Statistics, 
        and Computational Biology. In her spare 
        time, Tina enjoys figure skating, playing the piano, and social entrepreneurship.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/jenny.jpg", :alt => "", height: 300, width: 300) %>
        <h4>JENNY CHEN</h4>
        <h5>VP of Finance</h5>
        <p>Jenny is a junior in Penn's Management and Technology Program studying Economics and Computer Science. She first joined Momentum in her freshman year and served as Project Chair last year. In her free time, Jenny enjoys painting, drawing, and trying to grow plants.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/xuan.jpg", :alt => "", height: 300, width: 300) %>
        <h4>XUAN NG</h4>
        <h5>VP of Marketing</h5>
        <p>Xuan is a sophomore in the Jerome Fisher Program in Management and Technology studying Finance and Computer Science. he has been with Enactus since his first semester at Penn and was previously on the Kente Master team. In his free time, Xuan enjoys coffee tasting sessions and chatting with people.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/michael.jpg", :alt => "", height: 300, width: 300) %>
        <h4>MICHAEL DENG</h4>
        <h5>VP of Communications</h5>
        <p>Michael is a sophomore in Wharton studying Finance and Operations from
suburban Philadelphia. He has been involved in Enactus since freshman
year, and now serves as VP of Communications. Outside of class,
Michael enjoys design, tennis, and Game of Thrones.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/giyun.jpg", :alt => "", height: 300, width: 300) %>
        <h4>TIMMY XIE</h4>
        <h5>VP of Sales</h5>
        <p>Timmy.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/keith.jpg", :alt => "", height: 300, width: 300) %>
        <h4>KEITH WEIGELT</h4>
        <h5>Advisor</h5>
        <p>Professor Keith Weigelt is the Marks-Darivoff Family Professor of Strategy
        at the University of Pennsylvania's Wharton School. His program Buiding Bridges to Wealth helps
        members of the local community learn money management and entrepreneurial skills. Dr. Weigelt holds 
        an M.B.A. from Michigan State University and a Ph.D. from the Kellogg Graduate School at Northwestern.
        </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

