<div class="jumbotron" id="team">
  <div class="container-fluid">
    <p>THE TEAM</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <h5>THE TEAM</h5>
    <p>We are students drawing from a range of backgrounds with a common interest
    in promoting progress throughout the community. Our executive board works
    to shape the day to day and long term vision of our organization.</p>
  </div>
</div>

<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/xuan.jpg", :alt => "", height: 300, width: 300) %>
        <h4>XUAN NG</h4>
        <h5>President</h5>
        <p>Xuan is a junior in the M&T program studying Finance and Computer Science. He has been with Enactus since his first semester at Penn and was previously on the Kente Master team. In his free time, Xuan enjoys coffee tasting sessions and chatting with people.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/victoria.jpg", :alt => "", height: 300, width: 300) %>
        <h4>VICTORIA MENG</h4>
        <h5>VP of Marketing</h5>
        <p>Victoria is a sophmore in Wharton studying marketing and behavioral economics. For the past two years, she's enjoyed working on the REfresh Initiative and continues promoting its mission as a project chair. Outside of class, Victoria enjoys photography, pilates, and working at the Penn Museum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("headshots/mayli.jpg", :alt => "", height: 300, width: 300) %>
        <h4>MAYLI YANG</h4>
        <h5>VP of Finance</h5>
        <p>Mayli is currently a junior at the Wharton School studying Finance, Management, & Real Estate. She joined Enactus in the beginning of her sophomore year as part of the West Philly Microfinance (WPMF) group and is currently the Vice President of Finance. She enjoys photography and playing sports such as touch rugby.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/anon.jpg", :alt => "", height: 300, width: 300) %>
        <h4>JESICA MALHOTRA</h4>
        <h5>VP of Communications</h5>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <%= image_tag("headshots/keith.jpg", :alt => "", height: 300, width: 300) %>
        <h4>KEITH WEIGELT</h4>
        <h5>Advisor</h5>
        <p>Professor Keith Weigelt is the Marks-Darivoff Family Professor of Strategy
        at the University of Pennsylvania's Wharton School. His program Buiding Bridges to Wealth helps
        members of the local community learn money management and entrepreneurial skills. Dr. Weigelt holds 
        an M.B.A. from Michigan State University and a Ph.D. from the Kellogg Graduate School at Northwestern.
        </p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

